/* @import url(https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swa); */

@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

html,
body {
    height: 100vh;
    display: 0px;
    background-color: rgb(244 244 244);
    font-family: "Montserrat", sans-serif;
}

:root {
    --main-heading-color: #3b4452
        /* use main heading along with font-weight-500 */;
    --main-button-color: #306cc6;
    --requiredAlert: red;
    --label-color: #778899;
    --sub-heading-color: #778899
        /* use sub heading along with font-weight-500 */;
    --normal-font-size: 0.75rem;
    --sub-headings-font-size: 0.8rem;
    --main-headings-font-size: 1rem;
}
.loginform {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 100vh;
}
.login-form-with-shadow {
    box-shadow: 0px 0px 5px 1px #e4e3e3;
    width: 80%;
    padding: 30px 40px 30px;
    border-radius: 5px;
    background-color: #888888;
}
/* .loginanimation{
    display: flex;
    align-items: center;
} */
/* app.blade.php & sidebar.blade.php styles */

.carousel-item {
    transition: transform 0.3s ease-in-out;
    transform-style: preserve-3d;
}

.carousel-inner {
    perspective: 1000px;
}

.carousel-item-next.carousel-item-left,
.carousel-item-prev.carousel-item-right {
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.active.carousel-item-left,
.carousel-item-next {
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.active.carousel-item-right,
.carousel-item-prev {
    transform: rotateY(360deg);
    backface-visibility: hidden;
}

.column1 {
    width: 20%;
}

.column2 {
    width: 80%;
    overflow: hidden;
    overflow-y: auto;
    border: 1px solid rgb(219, 217, 217);
    height: 90vh;
}

.navbar-toggler-icon {
    display: none;
}

.navbar-collapse {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    flex: 1;
}

.navbar-row {
    display: flex;
    width: 100%;
    background-color: white;
    padding: 0px;
    height: 10vh;
}

@media (max-width: 768px) {
    .column1 {
        display: none;
    }

    .column2 {
        width: 100%;
        height: 100vh;
    }

    .navbar-toggler-icon {
        display: block;
    }

    .sidebar-toggled .column1 {
        display: block;
        position: absolute;
        top: 50px;
        left: 0;
        z-index: 1040;
        width: 200px;
        height: 100%;
        background: white;
    }
}

/* .active {
    background-color: white;
} */

.active a {
    color: rgb(1, 1, 20);
}

.main {
    background-color: black;
    color: white;
}

ul {
    list-style-type: none;
    margin-top: 10px;
    margin: 0px;
    cursor: pointer;
    padding: 0px;
}

.list {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 15px;
}

.mainmenu-icons {
    font-size: 16px;
    text-decoration: none;
    align-items: center;
    color: white;
}

.col1 {
    position: sticky;
    width: 21%;
    background-color: var(--main-button-color);
    padding: 0px;
    margin: 0px;
}

.col2 {
    width: 79%;
    background-color: rgb(249, 249, 249);
    color: black;
    padding: 1px;
    height: 100vh;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
}

.home {
    padding: 5px;
}

.heading {
    font-weight: 600;
    margin-bottom: 0px;
}
.main-heading {
    font-weight: 600;
    margin-bottom: 5px;
    margin-left: 10px;
    font-size: var(--sub-headings-font-size);
}
.sub-heading {
    font-weight: 500;
    padding-top: 5px;
    font-size: var(--sub-headings-font-size);
    color: var(--sub-heading-color);
}
.sub-heading.active {
    color: var(--main-button-color);
}
.horizontal-line {
    margin-top: -3px;
}

.text {
    color: rgb(93, 97, 96);
    margin-bottom: 0px;
    font-size: 0.8rem;
}

.col {
    padding: 5px;
}

.submenue {
    display: flex;
    flex-direction: column;
}

.main-menu {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 7px 5px;
    border-radius: 10px;
}

.fa-chevron-down,
.fa-chevron-right {
    justify-content: end;
    text-decoration: none;
    color: black;
}

.arrows {
    justify-content: end;
    margin-left: auto;
}
.arrow-icon {
    font-size: 14px;
    color: var(--sub-heading-color);
    cursor: pointer;
}
.arrow-icon-active {
    font-size: 14px;
    color: var(--main-button-color);
    cursor: pointer;
}

#Submenus {
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 100%;
}

.submenu {
    color: var(--label-color);
    text-decoration: none;
    font-size: var(--normal-font-size);
}

.submenu-container {
    margin-left: 20px;
    margin-top: 8px;
}
/* admin dashboard */
.a {
    background: #fcfcfc;
    border: 1px solid #ccc;
    color: rgb(2, 17, 79);
    transition: transform 0.3s ease, background-color 0.3s ease,
        box-shadow 0.3s ease;
}

.avaPosCard {
    background-color: #01bde012;
    border: 1px solid #01bde0;
    border-radius: 10px;
    padding: 5px 15px;
}
.countOfNum {
    color: #000;
}
.subHeading {
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 500;
    color: #383838;
}
.announcemnt {
    font-weight: 500;
    color: #383838;
    margin-bottom: 15px;
    text-align: start;
}
.totalEmpText {
    color: #383838;
    font-weight: 500;
    font-size: 16px;
}
.text-time {
    font-size: 11px;
    color: #778899;
    margin-top: 5px;
}
.jobOpenCard {
    background-color: #ff104012;
    border: 1px solid #ff104b;
    border-radius: 10px;
    padding: 5px 15px;
}
.newEpmCard {
    background-color: #00874012;
    border: 1px solid #00874f;
    border-radius: 10px;
    padding: 5px 15px;
}
.totalEmpCard {
    background-color: #f5e90012;
    border: 1px solid #f5e901;
    border-radius: 10px;
    font-size: 13px;
    padding: 5px 15px;
    text-align: start;
}
.hrReqCard {
    background-color: #c3479012;
    border: 1px solid #c3479f;
    border-radius: 10px;
    font-size: 13px;
    text-align: start;
    padding: 5px 15px;
}
.annocmentCard {
    background-color: #ffffff;
    border: 1px solid #9a9999;
    border-radius: 10px;
    text-align: start;
    font-size: 13px;
    padding: 5px 15px;
}
.helpChip {
    border: 1px solid #afafaf;
    background-color: #fff;
    border-radius: 30px;
    padding: 8px 15px;
    margin: 0px 4px 8px 0px;
    display: inline-block;
    cursor: pointer;
    font-size: var(--normal-font-size);
    color: #778899;
}
.helpChip:hover {
    background-color: #01bde012;
}
.small-text {
    font-size: 0.625rem;
}
.chart-title {
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 13px;
    font-weight: 500;
    color: #778899;
}
.card-body {
    line-height: 1.6;
    padding: 7px 0;
    margin: 0 auto;
    text-align: start;
}
.card-text {
    font-size: 9px;
    padding: 2px 5px;
    margin-bottom: 0px;
    margin-top: 7px;
    border-radius: 20px;
    background-color: #f4f4f4;
}
.btn-start {
    display: flex;
    height: 28px;
    color: white;
    font-size: 0.625rem;
    padding: 5px 2px;
    width: 100px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: rgb(2, 17, 79);
}
/* end of admin dashboard */
/* Step Form */

#msform {
    /* text-align: center; */
    position: relative;
    background: #fff;
    z-index: 1;
}
#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 3px;
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;

    /*stacking fieldsets above each other*/
    position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}
/*inputs*/

input[type="radio"] {
    border-radius: 0px;
    padding: 10px;
}
#msform input,
#msform textarea {
    padding: 10px;
    border: 1px solid #ccc;
    /* border-radius: 3px; */
    margin-bottom: 10px;
    /* width: 100%; */
    box-sizing: border-box;
    /* font-family: 'Source Sans Pro'; */
    color: #2c3e50;
    font-size: 13px;
}
/*buttons*/
#msform .action-button {
    width: 100px;
    background: #27ae60;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}
#msform .action-button:hover,
#msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #27ae60;
}
/*headings*/
.fs-title {
    font-size: 28px;
    color: #306cc6;
    margin-bottom: 10px;
    font-weight: 700;
}
.fs18 {
    font-size: 18px;
}
.fs-subtitle {
    font-weight: 500;
    font-size: 16px;
    color: #5a5555;
    margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}
#progressbar li {
    list-style-type: none;
    color: black;
    text-transform: uppercase;
    font-size: 10px;
    width: 25%;
    float: left;
    position: relative;
    padding: 0px 5px;
}
#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 20px;
    line-height: 20px;
    display: block;
    font-size: 10px;
    color: #333;
    background: #eee;
    border-radius: 3px;
    margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
    content: "";
    width: 100%;
    height: 2px;
    background: #eee;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1;
}
#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,
#progressbar li.active:after {
    background: #306cc6;
    color: white;
}
label {
    font-size: 13px;

    color: rgb(135, 129, 129);
    font-weight: 500;
}
.onboard-Valid {
    font-size: small;
}

.ilynn-btn {
    width: fit-content;
    font-weight: 500;
    padding: 7px 15px !important;
    border: none !important;
    background-color: #306cc6;
    font-size: 16px !important;
    margin-right: 20px;
    color: white;
    float: inline-end;
    border-radius: 5px;
}

.ilynn-btn:hover {
    cursor: pointer;
}
.styled-checkbox {
    position: absolute;
    opacity: 0;
}
.styled-checkbox + label {
    position: relative;
    cursor: pointer;
    padding: 0;
}
.styled-checkbox + label:before {
    content: "";
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    background: #eee;
}
.styled-checkbox:hover + label:before {
    background: #26254e;
}
.styled-checkbox:focus + label:before {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}
.styled-checkbox:checked + label:before {
    background: #26254e;
}
.styled-checkbox:disabled + label {
    color: #b8b8b8;
    cursor: auto;
}
.styled-checkbox:disabled + label:before {
    box-shadow: none;
    background: #ddd;
}
.styled-checkbox:checked + label:after {
    content: "";
    position: absolute;
    left: 5px;
    top: 9px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white,
        4px -6px 0 white, 4px -8px 0 white;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.unstyled {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.unstyled li {
    text-align: left;
    margin: 20px;
}
.srf-btn {
    text-decoration: none;
    color: white;
    background-color: #26254e !important;
    border-radius: 100px;
    padding: 10px 20px;
}

.srf-title {
    margin: 25px;
    color: #26254e;
}

.srf-para {
    margin: 10px;
    line-height: 30px;
    color: #aaa;
}

.app-drawer-img {
    width: 1.2em;
    background: none;
    border-radius: 5px;
    cursor: pointer;
}

::-webkit-scrollbar-track {
    background: #55535333;
}

.btn-btn {
    background: rgb(2, 17, 79);
    border: none;
}
.closed-btn {
    background-color: rgb(2, 17, 79);
    border: none;
}
.form-check-label-options {
    font-size: 13px;
    margin-left: 5px;
}
.onboarding-check-boxes {
    display: flex;
    flex-direction: column;
}
input {
    margin-bottom: 0px;
}
.form-check-label {
    font-size: 10px;
}
.custom-select {
    font-size: 13px;
}
/* end of styles */
/* button styles started*/
.submit-btn {
    background-color: var(--main-button-color);
    color: #fff;
    border: 1px solid var(--main-button-color);
    font-weight: 500;
    border-radius: 5px;
    padding: 7px 12px;
    font-size: var(--normal-font-size);
    border: none;
}


.cancel-btn {
    background-color: white;
    color: var(--main-button-color);
    font-weight: 500;
    border-radius: 5px;
    padding: 6px 12px;
    font-size: var(--normal-font-size);
    border: 1px solid var(--main-button-color) !important;
}
/* button styles ended*/

/* analytics hub styles started */

.analytic-right {
    color: var(--main-button-color);
    cursor: pointer;
    font-size: var(--sub-headings-font-size);
}
.analytic-left {
    color: var(--main-heading-color);
    font-size: var(--sub-headings-font-size);
    font-weight: 500;
}

.analytic-right:hover {
    text-decoration: underline;
}

.analytic-main-container {
    background-color: white;
    margin: 20px;
    /* Adjust margin as needed */
    padding: 20px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.analytic-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.analytic-content-row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.analytic-content-box {
    background-color: white;
    flex: 1;
    min-width: 172px;
    /* Ensures the boxes stack on smaller screens */
    padding: 10px;
    display: flex;
    /* Ensure contents are flex items */
    align-items: center;
    /* Center items vertically */
    border-radius: 10px;
    border: 1px solid grey;
    cursor: pointer;
}

.analytic-icon {
    font-size: var(--main-headings-font-size);
    color: var(--label-color);
    margin-right: 8px;
    /* Adjust margin as needed */
}

.analytic-text {
    font-size: var(--normal-font-size);
    color: var(--label-color);
}

@media (max-width: 600px) {
    .analytic-content-box {
        flex-direction: column;
        align-items: flex-start;
    }

    .analytic-icon {
        margin-right: 0;
        margin-bottom: 5px;
    }
}

.analytic-container1 {
    margin: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.analytic-header1 {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}

.analytic-header-left {
    font-size: 16px;
    font-weight: 400;
}

.analytic-search-bar {
    display: flex;
    padding: 0px 10px;
    justify-content: space-between;
    /* Adjust spacing between items */
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.analytic-search-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}
.analytic-search{
    font-size: var(--normal-font-size);
}
.analytic-search::placeholder {
    font-size: var(--normal-font-size);
}

.analytic-search-bar input[type="text"] {
    width: 180px;
    padding: 6px 10px 9px 10px;
    /* Adjust padding for right space */
    border: 1px solid #ccc;
    border-radius: 15px;
    position: relative;
    height: 30px;
}

.analytic-search-icon {
    position: absolute;
    right: 10px;
    color: #666;
    pointer-events: none;
    cursor: pointer;
}

.analytic-restore-text {
    margin-right: 10px;
    color: var(--main-button-color);
    cursor: pointer;
    font-size: var(--sub-headings-font-size);
}

.analytic-restore-icon {
    font-style: normal;
    margin-left: 10px;
    color: var(--main-button-color);
    cursor: pointer;
}

/* Adjusted CSS for alternating row colors */
.analytic-table-container {
    overflow-y: auto;
    height: 300px;
    overflow-x: scroll;
}

.analytic-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #cfd8dc;
}

.analytic-table th,
.analytic-table td {
    padding: 10px;
    text-align: left;
    border-right: 1px solid #ddd;
    /* Add right border to all cells */
}

.analytic-table th {
    background-color: #cfd8dc;
    color: black;
    font-size: var(--sub-headings-font-size);
    font-weight: 500;
    position: relative;
    /* Ensure the position context for pseudo-element */
}

.analytic-table th:last-child {
    border-right: none;
    /* Remove right border for the last header cell */
}

/* Alternating row colors */
.analytic-table tr:nth-child(even) {
    background-color: #f5f5f5;
    /* Grey background for even rows */
}

.analytic-table tr:nth-child(odd) {
    background-color: #ffffff;
    /* White background for odd rows */
}

.analytic-grey-text {
    color: var(--main-heading-color);
    font-size: var(--sub-headings-font-size);
    font-weight: 500;
}
.analytic-blue-text {
    color: var(--main-button-color);
    font-size: var(--sub-headings-font-size);
}
.analytic-red-text{
    color: var(--requiredAlert);
    font-size: var(--sub-headings-font-size);
}



.analytic-table th:nth-child(2) {
    width: 300px;
    /* Adjust width as needed */
    text-align: center;
}

.analytic-highlighted {
    background-color: #e1e5f6;
    border: 1px solid var(--main-button-color);
}
.analytic-no-items-found {
    width: 10em;
    margin: 20px;
}
.analytic-folder-label{
    font-size: var(--normal-font-size);
    color: var(--label-color);
}

/* analytics hub styles ended */



/*Starting of Who Is In Submodule*/
@media screen and (max-height: 320px) {
    .form-group-who-is-in{

        margin-right: 70px;
    }
}
.arrow-btn {
    color: var(--label-color);
    height: 22px;
    width: 22px;
    display: flex;
    margin-right: 10px;
    cursor: pointers;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #dcdcdc;
    margin-right: 10px;
}

.toggle-box-container-who-is-in {
    float: right;
    display: flex;
    align-items: center;
}
.checkbox-label-who-is-in {
    font-size: var(--normal-font-size);
    /* Text size */
    /* Text color */
    font-weight: bold;
    display: flex;
    align-items: center;
    /* Center items vertically */
}

.checkbox-label-who-is-in input {
    margin-right: 5px;
    /* Space between checkbox and text */
}

.wide-short-container-who-is-in {
    width: 100%;
    /* Adjust width as needed */
    height: 80px;
    /* Adjust height as needed */
    background-color: transparent;
    /* Background color */
    border: 1px solid rgb(211, 211, 211);
    /* Border */
    border-radius: 5px;
    /* Rounded corners */
    margin-top: 50px;
    /* Adjust spacing as needed */
    padding: 10px;
    /* Padding inside the container */
}

.switch-who-is-in {
    position: relative;
    display: inline-block;
    width: 40px;
    /* Reduced width */
    height: 20px;
    /* Reduced height */
}
.switch-who-is-in input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border: 1px solid #666;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    /* Reduced height */
    width: 12px;
    /* Reduced width */
    left: 4px;
    /* Adjusted to fit smaller slider */
    bottom: 4px;
    /* Adjusted to fit smaller slider */
    background-color: #666;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
input:checked + .slider {
    background-color: #2196f3;
    border: 1px solid #2196f3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background-color: white;
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.total-employee-count-who-is-in {
    font-size: var(--normal-font-size);
    /* Text size */
    color: #059212;
    /* Text color */
    padding-bottom: 10px;
}
.time-range-who-is-in {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.time-range-who-is-in .start-time-who-is-in,
.time-range-who-is-in .end-time-who-is-in {
    font-size: var(--normal-font-size);
    /* Text size */
    color: var(--label-color);
    /* Text color */
    margin: 0 10px;
    /* Adjust spacing as needed */
}
.time-separator-who-is-in {
    width: 100%;
    /* Full width */
    height: 1px;
    /* Height of the line */
    background-color: var(--label-color);
    /* Line color */
    margin: 0 10px;
    /* Adjust spacing as needed */
}
.save-selectshift-button-who-is-in {
    background-color: transparent;
    border: 1px solid rgb(2, 17, 79);
    color: rgb(2, 17, 79);
}

.save-selectshift-button-who-is-in:hover {
    background-color: rgb(2, 17, 79);
    border: 1px solid rgb(2, 17, 79);;
    color: white;
}

.container-box-for-employee-information-who-is-in {
    width: 85%;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 60px;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid #52afe9;
    flex: 1;
}

.field-for-employee-who-is-in {
    text-align: center;
    width: 100%;
    align-items: center;
    background-color: #ffffff;
    flex: 1;
    border-top: 1px solid #52afe9;
    border-right: 1px solid #52afe9;
}

.field-for-employee-who-is-in {
    border-right: 1px solid #52afe9;
}

.field-for-employee-who-is-in:first-child {
    border-left: 1px solid #52afe9;
}
.percentage-who-is-in {
    font-size: 18px;
}

.employee-count-who-is-in {
    font-size: var(--normal-font-size);

    padding-top: 5px;
}

.heading-who-is-in {
    display: flex;
    justify-content: space-between;
    padding: 8px 15px;
    border-bottom: 1px solid #ddd;
}

.heading-who-is-in i {
    color: var(--label-color);
}

.heading-who-is-in h3 {
    color: var(--label-color);
    font-size: 14px;
    font-weight: 500;
}

.container3-who-is-in {
    background-color: #ffffff;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    /* Border style for the container */
}
.container5-who-is-in-absent
{
    background-color: #ffffff;
    margin-top: 30px;

    border-radius: 5px;
    border: 1px solid #ccc;
    width:230px;
    margin-left: -18px;
}
.container5-who-is-in {
    /* Adjust the width as needed */

    background-color: #ffffff;
    margin-top: 30px;

    border-radius: 5px;
    border: 1px solid #ccc;
    /* Border style for the container */
}

.container6-who-is-in {
    background-color: #ffffff;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    /* Border style for the container */
}

.container4-who-is-in {
    background-color: #ffffff;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    /* Border style for the container */
}

.search-text::placeholder {
    font-weight: 60;
    /* Change the font weight */
    font-size: var(--normal-font-size);
    /* Change the font size */
    color: #6c757d;
}

.who-is-in-table {
    border-collapse: collapse;
    width: 100%;
}
.who-is-in-table-late-employee {
    border-collapse: collapse;

    /* Set the max height you prefer */

    display: block;
}
.who-is-in-table-for-early-employee {
    border-collapse: collapse;

    /* Set the max height you prefer */

    display: block;
}
.who-is-in-table-for-early-employee thead {
    background-color: #ebf5ff;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 10px;
}
.who-is-in-table-for-late-employee thead {
    background-color: #ebf5ff;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 3px;
}
.who-is-in-table-for-late-employee th {
    font-size: 0.7rem;
    font-weight: normal;
    color: #6c757d;
}
.content-who-is-in {
    display: flex;
    flex-direction: row;
    width: 100%;
}
/* CSS for the table header (thead) */
.who-is-in-table thead {
    border-top: 1px solid #ddd;
    background-color: #ebf5ff;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 3px;
}

input::placeholder {
    font: 0.85rem/3 sans-serif;
}

/* CSS for the table header cells (th) */
.who-is-in-table th {
    font-size: 0.7rem;
    font-weight: normal;
    color: #6c757d;
}

.who-is-in-table td {
    padding: 5px 20px;
    color: #3b4452;
}

input[type="date"]::before {
    content: attr(placeholder);
    color: var(--label-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: -1;
}

.date-form-who-is-in {
    display: flex;
    align-items: end;
    justify-content: end;
    width: 200px;
}

.shift-selector-container-who-is-in {
    position: relative;
    width: 200px;
    margin-top: 30px;
}

.shift-selector-who-is-in {
    width: 100%;
    height: 70px;
    padding: 10px;
    padding-top: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: white;
    cursor: pointer;
    position: relative;
}

.search-container-who-is-in {
    display: flex;
    margin-top: -90px;
}

.form-group-who-is-in {
    margin-right: 10px;
}
.form-group label {
    font-size: var(--normal-font-size);
    color: var(--label-color);
    font-weight: 500;
}
.search-input-who-is-in {
    border: none;
    position: relative;
    margin-top:50px;
}

.search-input-who-is-in input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
}

.search-icon-who-is-in {
    position: absolute;
    top: 50%;
    right: 10px;
    color: var(--label-color);
    transform: translateY(-50%);
    cursor: pointer;
}

.search-icon-who-is-in::before {
    font-size: 16px;
}

.filter-container1-who-is-in {
    display: flex;
    background: #fff;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    margin-left: 5px;
    padding: 3px;
    border: 1px solid #ccc;
}

.filter-group-who-is-in {
    display: flex;
    align-items: center;
}

/* Styles for the Font Awesome icon */
.fa-icon {
    font-size: 14px;
    color: var(--label-color);
    /* Add spacing between icon and text */
}

.search-results-who-is-in {
    position: fixed;
    background: white;
    margin-top: -13px;
    overflow-y: scroll;
    max-height: 200px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 195px;
    /* Adjust the width as needed */
    z-index: 999;
}

.shift-selector-who-is-in::placeholder {
    font-size: var(--normal-font-size);
    /* Adjust font size as needed */
    font-weight: 500;
    /* Adjust font weight as needed */
    vertical-align: top;
}

.search-results-who-is-in ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.search-results-who-is-in li {
    padding: 5px;
    border-bottom: 1px solid #eee;
}

.arrow-who-is-in {
    position: absolute;
    top: 20%;
    right: 10px;
    width: 10px;
    /* Adjust the width of the arrow line */
    height: 0.8px;
    /* Adjust the height of the arrow line */
    transform: translateY(-90%) rotate(-45deg);
    background-color: black;
}

.arrow-who-is-in::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-60%) rotate(45deg);
    width: 5px;
    /* Adjust the size of the arrowhead */
    height: 5px;
    /* Adjust the size of the arrowhead */
    border-right: 1px solid black;
    /* Adjust the thickness and color of the arrowhead */
    border-top: 1px solid black;
    /* Adjust the thickness and color of the arrowhead */
}
.row-for-absent-employee
{
    border-bottom: 1px solid #ddd;
}
@media screen and (max-width:320px){
    .container5-who-is-in-absent
    {
        margin-left: 50px;
    }
    .content-who-is-in
    {
        display: flex;
        flex-direction: column;
    }
    .search-input-who-is-in
    {
        margin-top: 120px;
        margin-right: 20px;
    }
    .container-box-for-employee-information-who-is-in
    {
        width: 80%;
    }
    .container5-who-is-in
    {
        width: 85%;
        margin-left: 50px;
    }
    .shift-selector-container-who-is-in
    {
        margin-left: 65px;
    }
    .date-form-who-is-in
    {
        margin-left: 65px;
    }
}
/*Ending of Who Is In Submodule*/
/* analytics hub view all styles ended */

/* Employee Information started*/
/* Basic styles for the tabs */
.tab-container {
    margin-top: 20px;
}
.tab-buttons {
    display: flex;
    font-size: 12px;
}

.tab-buttons button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #f1f1f1;
    border: none;
    border-bottom: 2px solid transparent;
    outline: none;
    transition: 0.3s;
}
.tab-buttons button.active {
    background-color: white;
    border-bottom: 2px solid #007bff;
}
.tab-content-custom {
 display: none; 
    padding: 15px;
    border: none;
    background-color: transparent; /* Remove white background */
}
.tab-content-custom.active {
    display: block;
}
.edit-headings{
    font-size: 12px;
    font-weight: 500;
}
.custom-container {
    border-radius: 5px;
    background-color: #f1f9fb;
    border: 1px solid silver;
    padding: 15px;
}
.custom-container:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);

    transition: opacity 0.1s ease-in-out;
}

.main-text {
    font-size: 12px;
  
    color: #778899;
}



.secondary-text {
    font-size: 12px;
    margin-top: 10px;
    font-weight: 200;
}

/* Added CSS for the image container */
.image-container {
    height: 180px; /* Fixed height to prevent image movement */
    align-items: end;
}
/* Base styles for input and buttons */
.input-group4 {
    display: flex;
    align-items: center;
    width: 100%;
}

.input-group4 input {
    font-size: 10px;
    cursor: pointer;
    border-radius: 5px 0 0 5px;
    width: 250px;
    height: 30px;
    padding: 5px;
}

.input-group-append {
    display: flex;
    align-items: center;
}

.input-group-append button {
    height: 30px;
    border-radius: 0 5px 5px 0;
    padding: 0 10px;
}

.input-group-append .btn {
    background-color: rgb(2, 17, 79);
    color: #fff;
    border: none;
}

.input-group-append .close {
    background-color: rgb(2, 17, 79);
    height: 30px;
    width: 30px;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

/* Responsive styles */

@media (max-width: 768px) {
    .input-group4 {
        flex-direction: row; /* Keep items in a row on small screens */
        align-items: center; /* Center items vertically */
        width: 100%;
    }

    .input-group4 input {
        width: auto; /* Allow input to shrink */
        margin-bottom: 0; /* Remove space between input and buttons */
    }

    .input-group-append {
        flex-direction: row; /* Keep buttons in a row */
    }

    .input-group-append button {
        width: auto; /* Allow buttons to shrink */
        margin-top: 0; /* Remove space between buttons */
        border-radius: 0; /* Maintain default border radius */
    }

    .input-group-append .btn,
    .input-group-append .close {
        border-radius: 0; /* Maintain default border radius */
    }
}
.editprofile{
    font-size: 12px;
    margin-top:5px;
    font-weight: 200;


}
.editprofilerow{
    color: #778899; 
    margin-top: 10px;
     margin-left:10px; 
     height:auto;
}
.search-container {
 
    max-width: none;
    margin-bottom: 10px;
    cursor: pointer;
     background-color:darkgrey; 
     padding: 5px; 
      width: 300px; 
      border-radius: 5px; 
      margin-top:5px
}

.profile-image{
    border-radius:50%; 
    width: 50px; 
    height: 50px;
}
.profile-image-selected{
    border-radius:50%; 
    width: 35px; 
    height: 35px; 
}
.selected-person{
    border:1px solid blue;
     border-radius:50px;
      padding: 5px; 
      width:fit-content; 
      margin-left:5px; 
      margin-top:5px
}
.selected-name{
    margin-left: 10px; 
    color: #778899;
    line-height: 40px; 
    font-size:12px; 
    margin-bottom: 0;
}
.close-icon-person{
    color:#3b4452 ;
    font-weight: 500;
    margin-left:15px;
    cursor:pointer
}
.hide-text{
    font-size: 12px; 
    cursor: pointer;
    color:#306cc6;
    font-weight:500;
}
.cus-form-label{
    width:100%;
    font-size: 12px;

}

.input-width{
    width:90%;
    font-size: 12px;

}
.alert-success {
    font-size: var(--normal-font-size);
    padding: 7px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-header{
 font-size: 15px; 
 background:white; 
 width:100%;
  display:flex;
   justify-content:space-between;
}
.card-row{
 color: #778899; 
 margin-top: 10px; 
 margin-left:10px; 
 height:auto;

 display: flex;
}
.profile-header{
    background:#98CBBA; 
    border-radius:5px; 
    height:60px; 
    display:flex;
     padding: 10px; 
 margin-top:10px;
     align-items:center;
     justify-content: center; 
  
     width:80%;
  
}
.profile-header-row{
    display:flex;
     justify-content: center;
      width:80%;
       align-items:center;
}
.search-btn {
    background-color:var(--main-button-color);
    border-radius: 0 5px 5px 0;
    color: #fff !important;
    width: 45px;
    height:32px;
    border: none;
    align-items: center;
    display: flex;
}
.close-btn{
   background-color: var(--main-button-color);
    height: 30px; 
    width: 30px; margin-left: 5px; 
    display: flex; align-items: center
    ; justify-content: center;
    border: none;
}
.position-row{
display: flex;

background-color: white;

font-size: 12px;
width: 80%;

}
.search-btn i {
    color: white; /* Ensures the icon color is white */
}
.emp-heading{
    font-size: 14px;
    font-weight: 500;
    color: #3b4452;
}
        .profile p {
            font-size: 14px;
        }
  /* Employee Information started*/

  /* Hr Main Overview Styles Started */
  .main-overview-container {
    overflow-x: hidden;
}

.main-overview-help {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px 5px;
    margin: 10px 0px 30px 0px;
    background-color: #f3faff;
}

.hide-main-overview-help {
    color: var(--main-button-color);
    font-size: var(--normal-font-size);
    cursor: pointer;
    white-space: nowrap;
    font-weight: 600;
}

@media (max-width: 455px) {
    .hide-main-overview-help {
        white-space: normal;
    }
}

.main-overview-text {
    font-size: var(--normal-font-size);
    color: var(--label-color);
}

.main-overview-custom-border {
    position: relative;
    margin-left: 10px;
}

.main-overview-title {
    font-size: var(--sub-headings-font-size);
    color: var(--main-heading-color);
    font-weight: 600;
    white-space: nowrap;
}

.main-overview-custom-border::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 18%;
    background-color: #ccc;
}

.main-overview-custom-solved-border {
    position: relative;
    margin-left: 10px;
}

.main-overview-custom-solved-border::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 18%;
    background-color: green;
}

.main-overview-profile-image {
    height: 33px;

    width: 33px;

    background-color: lightgray;

    border-radius: 50%;
}

.main-overview-text-truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    max-width: 200px;
    margin-bottom: 0;
    color: #000;
    font-size: 10px;
}


.main-overview-list-overview-container {
    transition: background-color 0.3s ease;
    margin: 0px;
}

.main-overview-list-overview-container:hover {
    background-color: #f0f8ff;
    margin: 0px;
}

.main-overview-chart-container {
    width: 100px;
    height: 105px;
    position: relative;
    margin-top: 10px;
}
.main-overview-highlited-text{
    color: #1fb6ff;
    cursor:pointer;
}
.main-overview-graphs-container{
    border-radius: 5px;
    background-color: white;
    margin-bottom: 10px;
}
.main-overview-heading-text{
    font-size: var(--sub-headings-font-size);
    color: var(--label-color);
}
.main-overview-subheading-text{
    font-size: var(--normal-font-size);
    color: var(--label-color);
}
.main-overview-red-text{
    color: var(--requiredAlert);
}
.main-overview-requests-container{
    height: 220px;
}
.main-overview-count-text{
    font-size: var(--main-headings-font-size);
    font-weight: 500;
    color: var(--main-heading-color);
}
.main-overview-green-text{
    color: green;
}
.main-overview-count-container{
    margin-top: 30px;
}
.main-overview-tickets-count{
    color: var(--main-heading-color);
    font-size: var(--normal-font-size);
    margin-top: -1px;
}
.main-overview-add{
    font-size: var(--sub-headings-font-size);
    color: var(--main-button-color);
    font-weight: 500;
    cursor: pointer;
}
.main-overview-hr-line{
    border: 1px solid grey;
    width: 100%;
    margin-top: 10px;
}
.main-overview-no-records-img{
    width: 5em;
    margin: 10px 0px;
}
.main-overview-no-records-text{
    font-size: 12px;
}
.main-overview-scroll-container{
    height: 160px;
    overflow-y: auto;
    overflow-x: hidden;
}
.main-overview-list-div-container{
    gap: 10px;
}
.main-overview-mobile-users-count{
    font-size: var(--normal-font-size);
    color: var(--main-heading-color);
    font-weight: 500;
}
.main-overview-invite-text{
    font-size: var(--normal-font-size);
    color: var(--main-button-color);
    text-decoration: none;
    font-weight: 500;
}


  /* Hr Main Overview Styles Ended */


  /* Calendar->Information->Employee leave styles start  */

  .employee-leave-hr-main{
    margin: 10px;
  }

  .employee-leave-searchrow{
    background-color: white;
    border-radius: 2px;
  }
  .employee-leave-start-para{
    color: #2d2b2b;
    font-weight: 600;
    font-size: 15px;
    padding:5px 10px;
    margin-bottom: 0px;
  }
  .employee-search-hr{
    padding: 5px 10px;
  }
  .Employee-select-leave{
    border: 0px;
    width: fit-content;
    margin-left: 5px;
    font-weight: 600;
    margin-right: 5px;
    padding-bottom:5px ;
    color: var(--label-color);
  }
  .search-employee-type-leave{
    align-items: center;
    padding-bottom:10px ;
    display: flex;
    margin-right: 5px;
    color: var(--label-color);
  }
  .Employee-details-hr{
    border: 1px solid rgb(80, 80, 218);
    width:200px ;
    align-items: center;
    border-radius: 30px;
    padding: 5px 10px;
    margin: 0px 0px 10px 10px;

  }
  .Employee-details-img-details-hr{
    width: fit-content;
    align-items: center;
  }
  .Emp-name-leave-details{
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 0px;
  }
  .Emp-id-leave-details{
    font-size: 10px;
    margin-bottom: 0px;
  }

  .Employee-leave-table-header{

    border-bottom: 1px  solid rgb(199, 196, 196);
    height: fit-content;
  }
  .leave-balance-lave-types {
    width: fit-content;
    align-items: end;
    margin-top: 0px;

  }
  .leave-balance-lave-types  button {
    padding: 0px 10px ;
    font-size: 13px;
    color: var(--main-button-color);
    border: 0px;
    background-color: white;
    height: max-content;
    height: 30px;

  }
  .Leave-balance-buttons{
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 8px;

  }
  .Leave-balance-buttons button{
    color: var(--main-button-color);
    background-color: white;
    border: 0.5px solid var(--main-button-color);
    height: fit-content;
    font-size: 13px;
    font-weight: 500;
    border-radius: 5px;
  }
.Employee-leave-table-maindiv{
    border: 0.5px solid  rgb(199, 196, 196) ;
}
.modal-title {
    color: #fff;
    font-weight: 600;
    font-size: var(--home-headings-font-size);
}
.modal-header {
    background-color: var(--main-button-color);
    color: white;
    height: 50px;
}
.btn-close {
    background-color: white;
    height: 7px;
    font-size: var(--normal-font-size);
    width: 7px;
}
.placeholder-small {
    color: var(--label-color); /* Placeholder text color */
    font-size: var(--normal-font-size);
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
}
.error-text {
    font-size: var(--normal-font-size);
}
